<div class="row justify-content-md-center">
  <%= form_tag '/rests', method: :get   do  %>
    Food<%= text_field_tag :term %>
    Location<%= text_field_tag :location  %>
    <%= submit_tag "Search" %>
  <% end %>
</div>
